[user]
	email = jmzagorski@gmail.com
	name = Jeremy Zagorski
[color "status"]
	changed = magenta
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[winUpdater]
	recentlySeenVersion = 2.23.0.windows.1
[push]
	followTags = true
[core]
	autocrlf = input
	preloadindex = true
	fscache = true
[http]
	sslBackend = schannel
[gc]
	auto = 256
[pull]
	rebase = true
